/* General styles */
* {
    box-sizing: border-box;
}

:root {
    --clr-light: #ffffff;
    --clr-dark: #1f1f1f;

    --fs-h1: 2.5rem;
    --fs-icon: 1.5rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3.5rem;
        --fs-icon: 2.5rem;
        --fs-body: 1.2rem;
    }
}

body,
h1 {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

.material-icons-outlined {
    font-family: "Material Icons";
}

/* Typography */
body {
    font-family: "Source Code Pro", monospace;
    font-size: var(--fs-body);
}

.title {
    font-size: var(--fs-h1);
    color: var(--clr-dark);
    margin-bottom: 1em;
}

/* Layout */
.container {
    max-width: 90%;
    margin: 3em auto;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 1em;
    justify-content: center;
}

.img-container {
    max-width: 200px;
    cursor: pointer;
    position: relative;
}

.zoom-icon {
    font-size: var(--fs-icon);
    color: var(--clr-dark);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.img-container:hover img {
    opacity: 0.4;
}

.img-container:hover .zoom-icon {
    opacity: 1;
}

/* Modal */
.modal {
    width: 100%;
    height: 100vh;
    border: 0;
    background-color: transparent;
    margin: 1em;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#modal-img {
    max-width: 70%;
    height: 65vh;
    object-fit: cover;
    position: relative;
}

.btn {
    font-size: var(--fs-icon);
    color: var(--clr-light);
    background-color: transparent;
    border: 0;
    padding: 0.5em 1em;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.img-name,
.img-count {
    color: var(--clr-light);
    padding: 0.6em 1em;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.img-name {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.img-count {
    width: fit-content;
    margin: 1.5em auto 0;
}

/* Dark mode button & theme */
.dark-mode-btn {
    font-size: var(--fs-icon);
    color: var(--clr-dark);
    position: absolute;
    right: 5%;
    top: 0;
}

body.dark {
    background-color: var(--clr-dark);
}

body.dark .title,
body.dark .zoom-icon,
body.dark .dark-mode-btn {
    color: var(--clr-light);
}
